<%- include("partials/header") %>
		<div class = "container">
			<div class="row mt-2">
			      <div class="card m-3">
					  <p>this is testing for trialspage</p>
						  
			      </div>	
			</div>
			
		</div>
<%- include("partials/footer") %>